/.bundle
Gemfile.lock

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp
/vendor/bundle
/vendor/ruby
/vendor/bin

/spec/tmp/*
capybara-*.html

/public/system/*
/public/assets/*

.rspec

*.orig
/coverage

*.rbc
*.sassc
.sass-cache
