<% provide(:title, 'Signup') %>
<h1>Signup</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn" %>
    <% end %>
  </div>
</div>
